<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <label class="form-label t3js-formengine-label">
      <span>{data.parameterArray.fieldConf.label}</span>
      <code>[{data.fieldName}]</code>
  </label>
  <div id="ls-multicolumnwizard-{data.databaseRow.uid}" class="ls-multicolumnwizard-wrapper" data-field-id="0">
    <div class="ls-multicolumnwizard-row">
      <div class="row">
        <f:for each="{data.parameterArray.fieldConf.config.columnFields}" as="config">
          <f:if condition="!{config.showLabelAboveField}">
            <div class="{config.divClass}">
              <f:if condition="{config.label}">
                <f:if condition="{f:translate(key: '{config.label}', extensionName: 'LiaMulticolumnwizard')}">
                  <f:then>{f:translate(key: '{config.label}', extensionName: 'LiaMulticolumnwizard')}</f:then>
                  <f:else>{config.label}</f:else>
                </f:if>
              </f:if>
            </div>
          </f:if>
        </f:for>
      </div>
    </div>
    <div class="ls-multicolumnwizard-row row-copy" style="display: none;">
      <f:render partial="Fieldsrow" arguments="{configuration: '{data.parameterArray.fieldConf.config.columnFields}', id: '____newid____'}"/>
    </div>
    <div class="ls-multicolumnwizard-row-container"></div>
    <div class="row-destination"></div>
    <input type="hidden" name="{data.parameterArray.itemFormElName}" value="{data.parameterArray.itemFormElValue}" class="jsonfield">
    <input type="hidden" value="{linkExplanation}" class="linkExplanation">
  </div>

</div>
