<div  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

      <div class="ls-multicolumnwizard-buttons">
        <div class="form-control-wrap">
            <a class="btn btn-default btn-add" href="#" title="" data-original-title="Create new record after this record">
                <span class="t3js-icon icon icon-size-small icon-state-default icon-actions-add" data-identifier="actions-add">
                    <span class="icon-markup">
                      <core:icon identifier="actions-add" size="small" alternativeMarkupIdentifier="inline" />
                    </span>
                </span>
            </a>
            <a class="btn btn-default btn-delete" href="#"  title="">
                <span class="t3js-icon icon icon-size-small icon-state-default icon-actions-edit-delete" data-identifier="actions-edit-delete">
                  <span class="icon-markup">
                    <core:icon identifier="actions-delete" size="small" alternativeMarkupIdentifier="inline" />
                  </span>
                </span>
            </a>
            <a class="btn btn-default btn-down" href="#" title="" data-original-title="Move down in list">
                <span class="t3js-icon icon icon-size-small icon-state-default icon-actions-move-down" data-identifier="actions-move-down">
                    <span class="icon-markup">
                      <core:icon identifier="actions-caret-down" size="small" alternativeMarkupIdentifier="inline" />
                    </span>
                </span>
            </a>
            <a class="btn btn-default bnt-up" href="#" title="" data-original-title="Move up in list">
                <span class="t3js-icon icon icon-size-small icon-state-default icon-actions-move-up" data-identifier="actions-move-up">
                  <span class="icon-markup">
                    <core:icon identifier="actions-caret-up" size="small" alternativeMarkupIdentifier="inline" />
                  </span>
                </span>
            </a>
        </div>
    </div>
</div>
