<div  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

  <div class="formengine-field-item t3js-formengine-field-item">
    <div class="form-control-wrap">
      <div class="form-wizards-wrap">
        <div class="form-wizards-element">
          <div class="form-check form-check-type-icon-toggle">
            <input type="checkbox" class="form-check-input" value="1" id="mcw_{name}-{itemFormElID}-{id}" data-name="{name}">
            <label class="form-check-label" for="mcw_{name}-{itemFormElID}-{id}">
              <span class="form-check-label-icon">
                <span class="form-check-label-icon-checked">
                  <span class="t3js-icon icon icon-size-small icon-state-default icon-actions-check" data-identifier="actions-check">
                    <span class="icon-markup">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g class="icon-color"><path d="M13.3 4.8l-.7-.7c-.2-.2-.5-.2-.7 0L6.5 9.5 4 6.9c-.2-.2-.5-.2-.7 0l-.6.7c-.2.2-.2.5 0 .7l3.6 3.6c.2.2.5.2.7 0l6.4-6.4c.1-.2.1-.5-.1-.7z"></path></g></svg>
                    </span>
                  </span>
                </span>
                <span class="form-check-label-icon-unchecked">
                  <span class="t3js-icon icon icon-size-small icon-state-default icon-empty-empty" data-identifier="empty-empty">
                    <span class="icon-markup">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"></svg>
                    </span>
                  </span>
                </span>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
