<div  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <div class="formengine-field-item t3js-formengine-field-item">
        <div class="form-control-wrap">
            <div class="form-wizards-wrap">
                <div class="form-wizards-element">
                    <div class="input-group t3js-form-field-link">
                        <span class="t3js-form-field-link-icon input-group-addon"></span>
                        <input class="form-control t3js-form-field-link-explanation input_name_full" title="" value="" readonly="" hidden="" data-ignore="1">

                        <div class="form-control-clearable-wrapper">
                            <input type="text" class="form-control form-control-clearable t3js-clearable t3js-form-field-link-input input_name_original" data-ignore="1">
                            <button type="button" tabindex="-1" class="close mwc-add-link-icon-close" style="visibility: hidden">
                                <core:icon identifier="actions-close" size="small" />
                            </button>
                        </div>
                        <button class="btn btn-default t3js-form-field-link-explanation-toggle disabled mwc-add-link-edit-link-button" type="button" title="Toggle link explanation" disabled="disabled">
                            <core:icon identifier="actions-version-workspaces-preview-link" size="small" />
                        </button>
                        <input type="text" id="mcw_{name}-{itemFormElID}-{id}" class="form-control input_url_orignal" maxlength="255" data-name="{name}" style="display: none;">
                    </div>
                </div>
                <div class="form-wizards-items-aside form-wizards-items-aside--field-control">
                    <div class="btn-group">
                        <a id="t3js-formengine-fieldcontrol-656883e548aaa979770939" href="" data-fieldid="mcw_{name}-{itemFormElID}-{id}" data-fieldname="{name}" data-linkusefield="{conf.linkUseField}" class="btn btn-default">
                            <core:icon identifier="actions-link" size="small" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
